# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.vsidx
JOGO/.vs/JOGO/v17/.suo
*.db
*.ipch
*.user
*.filters
*.vcxproj
*.tlog
*.log
*.idb
*.pdb
*.ilk
*.recipe
*.sln
*.db-shm
*.db-wal
JOGO/.vs/JOGO/v17/Browse.VC.opendb
JOGO/JOGO/.vs/JOGO/v17/.suo
*.opendb
